# Данные Docker (они создаются в opensearch/data/)
opensearch/data/
opensearch/volumes/

# Логи (папка logs в корне)
logs/*.log
!logs/.gitkeep

# Системные файлы
.DS_Store
Thumbs.db

# Бинарные файлы Vector (если решите не использовать Docker)
vector/bin/

.venv/
*/.venv/
__pycache__/
*.pyc
.env
.DS_Store
.cache/
logs/
data/
models/
huggingface/